<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-retweet"></span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home" href="#">Home</a>
                </li>
                <li><a ui-sref="userAdmin" href="#">User Admin</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="signIn" ng-show="!isLoggedIn()">Sign in</a>
                </li>
                </li>
                <li><a ui-sref="signUp" ng-show='!isLoggedIn()'>Sign up</a>
                </li>
                </li>
                <li><a ng-show='isLoggedIn()'>Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>